# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/red_social

# Flask
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=tu_clave_secreta_super_segura_aqui

# JWT
JWT_SECRET_KEY=tu_jwt_secret_key_aqui

# CORS
FRONTEND_URL=http://localhost:5173
